* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #000; font-family: sans-serif; color: white; overflow: hidden; }

#matrix-canvas { position: fixed; top: 0; left: 0; z-index: -1; opacity: 0.5; }

.stage { display: none; width: 100%; height: 100vh; justify-content: center; align-items: center; position: absolute; }
.stage.active { display: flex; }

.glass-card { background: rgba(0,0,0,0.8); border: 1px solid #0ff; border-radius: 20px; padding: 30px; width: 90%; max-width: 400px; text-align: center; }

.teacher-img { width: 150px; height: 150px; border-radius: 15px; object-fit: cover; border: 2px solid #0ff; margin-bottom: 15px; }

.bar-bg { width: 100%; height: 10px; background: #222; border-radius: 5px; margin: 20px 0; overflow: hidden; }
#progress-bar { width: 0%; height: 100%; background: #0ff; transition: width 4s linear; }

.cyber-btn { background: #0ff; color: #000; padding: 12px 25px; border: none; font-weight: bold; border-radius: 5px; cursor: pointer; z-index: 100; position: relative; }
.wa-btn { display: block; background: #25d366; color: white; padding: 12px; border-radius: 10px; margin-bottom: 15px; text-decoration: none; font-weight: bold; }
            
